/*-- scss:defaults --*/

$lab-easy-path:     "./pics/lab_easy.png" !default;
$lab-medium-path:   "./pics/lab_medium.png" !default;
$lab-hard-path:     "./pics/lab_hard.png" !default;
$lab-extreme-path:  "./pics/lab_extreme.png" !default;


/*-- scss:rules --*/

.level {
  display: inline-block;
  height: 1em;
}

.easy {
  content: url($lab-easy-path);
}

.medium {
  content: url($lab-medium-path);
}

.hard {
  content: url($lab-hard-path);
}

.extreme {
  content: url($lab-extreme-path);
}

// Hints

.hints {
}
