/*-- scss:defaults --*/

$theme: "darkly" !default;

//
// Color system
//

$white:    #fff !default;
$gray-f5: #f5f5f5 !default;
$gray-e6: #e6e6e6 !default;
$gray-b4: #b4b4b4 !default;
$gray-82: #828282 !default;
$gray-4b: #4b4b4b !default;
$gray-1e: #1e1e1e !default;
$gray-05: #050505 !default;
$gray-22: #222 !default;
$black:    #000 !default;

$gray-700: #1e1e1e !default; // for navbar compatibility

$blue:    #226799 !default;
$indigo:  #4142CE !default;
$purple:  #6635D2 !default;
$pink:    #D33E36 !default;
$red:     #D33E36 !default;
$orange:  #E57E39 !default;
$yellow:  #E5D439 !default;
$green:   #35D250 !default;
$teal:    #36D38C !default;
$cyan:    #359DD2 !default;

// Body

$body-bg:                   $gray-22 !default;
$body-color:                $white !default;
@function body-mix($weight) {
    @return mix($body-bg, $body-color, $weight);
}

$primary:       $blue !default;
$secondary:     body-mix(85%) !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
// This is inconsistent with Bootstrap semantics. That is, $dark
// should actually be a light color in a dark mode setting, :shrug:
// https://github.com/thomaspark/bootswatch/issues/989
$light:         body-mix(65%) !default;
$dark:          body-mix(95%) !default;

$min-contrast-ratio:   1.9 !default;

// Links

$link-color:                $gray-e6 !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

$font-family-sans-serif:      Montserrat !default;
$h1-font-size:                3rem !default;
$h1-font-weight:              600;
$h2-font-size:                2.5rem !default;
$h2-font-weight:              500;
$h3-font-size:                2rem !default;
$body-font-weight:            400;
$hint-font-size:              0.8em;
$hint-font-weight:            300;
$text-muted:                  body-mix(75%) !default;

// Tables

$table-border-color:          body-mix(85%) !default;

$table-bg-scale:              0 !default;

// Forms

$input-bg:                          $white !default;
$input-color:                       body-mix(95%) !default;
$input-border-color:                $body-bg !default;
$input-group-addon-color:           body-mix(65%) !default;
$input-group-addon-bg:              body-mix(85%) !default;

$form-check-input-bg:                     $body-color !default;
$form-check-input-border:                 none !default;

$form-file-button-color:          $body-color !default;

// Dropdowns

$dropdown-bg:                       $body-bg !default;
$dropdown-border-color:             body-mix(85%) !default;
$dropdown-divider-bg:               body-mix(85%) !default;
$dropdown-link-color:               $body-color !default;
$dropdown-link-hover-color:         $body-color !default;
$dropdown-link-hover-bg:            $primary !default;

// Navs

$nav-link-padding-x:                2rem !default;
$nav-link-disabled-color:           body-mix(65%) !default;
$nav-tabs-border-color:             body-mix(85%) !default;
$nav-tabs-link-hover-border-color:  $nav-tabs-border-color $nav-tabs-border-color transparent !default;
$nav-tabs-link-active-color:        $body-color !default;
$nav-tabs-link-active-border-color: $nav-tabs-border-color $nav-tabs-border-color transparent !default;

// Navbar

$navbar-padding-y:                  1rem !default;
$navbar-light-bg:                   $primary !default;
$navbar-dark-bg:                    $success !default;

// Pagination

$pagination-color:                  $body-color !default;
$pagination-bg:                     $success !default;
$pagination-border-width:           0 !default;
$pagination-border-color:           transparent !default;
$pagination-hover-color:            $body-color !default;
$pagination-hover-bg:               lighten($success, 10%) !default;
$pagination-hover-border-color:     transparent !default;
$pagination-active-bg:              $pagination-hover-bg !default;
$pagination-active-border-color:    transparent !default;
$pagination-disabled-color:         $body-color !default;
$pagination-disabled-bg:            darken($success, 15%) !default;
$pagination-disabled-border-color:  transparent !default;

// Cards

$card-cap-bg:                       body-mix(85%) !default;
$card-bg:                           body-mix(95%) !default;

// Popovers

$popover-bg:                        body-mix(95%) !default;
$popover-header-bg:                 body-mix(85%) !default;

// Toasts

$toast-background-color:            body-mix(85%) !default;
$toast-header-background-color:     body-mix(95%) !default;

// Modals

$modal-content-bg:                  body-mix(95%) !default;
$modal-content-border-color:        body-mix(85%) !default;
$modal-header-border-color:         body-mix(85%) !default;

// Progress bars

$progress-bg:                       body-mix(85%) !default;

// List group

$list-group-color:                  $body-color !default;
$list-group-bg:                     body-mix(95%) !default;
$list-group-border-color:           body-mix(85%) !default;
$list-group-hover-bg:               body-mix(85%) !default;
$list-group-action-hover-color:     $list-group-color !default;
$list-group-action-active-bg:       body-mix(99%) !default;

// Breadcrumbs

$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;
$breadcrumb-bg:                     body-mix(85%) !default;
$breadcrumb-border-radius:          .25rem !default;

// Close

$btn-close-color:            $body-color !default;
$btn-close-opacity:          .4 !default;
$btn-close-hover-opacity:    1 !default;

// Code

$pre-color:                         inherit !default;



/*-- scss:rules --*/

// Variables

// Headers

h1 {
  font-weight: $h1-font-weight;
}

h2 {
  font-weight: $h2-font-weight;
}

// Subtitle

p.subtitle.lead {
  font-weight: $h2-font-weight;
}

// Body

body {
  font-weight: $body-font-weight;
}

code {
  color: $gray-e6;
}

// Autochecks

.autocheck input {
  display: block;
}

.input-requirements {
  font-size: .9em;
  font-weight: 300;
}

.autocheck-input {
  background-color: $gray-1e;
  color: $gray-e6;
  padding: .2em;
  width: 100%;
  padding-inline: .5em;
  border: 1px solid $gray-05;
  border-radius: 5px;
  margin-bottom: 3%;
}

.autocheck-button {
  background-color: $gray-1e;
  color: $gray-f5;
  border: 1px solid $gray-05;
  border-radius: 5px;
  padding: 1%;
  padding-inline: 2% 
}

.autocheck-button:hover {
  background-color: $gray-4b;
}

.autocheck-button:active {
  background-color: $gray-82;
}

.autocheck-feedback {
  display: none;
  background-color: $gray-1e;
  padding: 1%;
  padding-inline: 3%;
  margin-bottom: 3%;
  font-size: .9em;
  border-radius: 5px;
  font-weight: 300;
}


// Typography

.blockquote {
  &-footer {
    color: body-mix(75%);
  }
}

// Forms

.input-group-addon {
  color: $body-color;
}

.form-floating > label {
  color: $gray-1e;
}

// Navs

.nav-tabs,
.nav-pills {
  .nav-link,
  .nav-link.active,
  .nav-link.active:focus,
  .nav-link.active:hover,
  .nav-item.open .nav-link,
  .nav-item.open .nav-link:focus,
  .nav-item.open .nav-link:hover {
    color: $body-color;
  }
}

.breadcrumb a {
  color: $body-color;
}

.pagination {
  a:hover {
    text-decoration: none;
  }
}

// Indicators

.alert {
  border: none;
  color: $body-color;

  a,
  .alert-link {
    color: $body-color;
    text-decoration: underline;
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      @if $enable-gradients {
        background: $value linear-gradient(180deg, mix($body-color, $value, 15%), $value) repeat-x;
      } @else {
        background-color: $value;
      }
    }
  }
}

// Hints

.hints {
  background-color: $gray-1e;
  padding: 1% 3%;
  border-radius: 10px;
  color: $gray-b4;
  font-size: $hint-font-size;
}

.hints>summary {
  color: $gray-e6;
  padding-top: 1%;
  padding-bottom: 1%;
}

.hint {
  font-weight: $hint-font-weight;
  padding-left: 3%;
}

.hint>summary {
  font-weight: $h2-font-weight;
  color: $gray-b4;
}
