/*-- scss:defaults --*/

$theme: "flatly" !default;

//
// Color system
//

$white:    #fff !default;
$gray-f5: #f5f5f5 !default;
$gray-e6: #e6e6e6 !default;
$gray-b4: #b4b4b4 !default;
$gray-82: #828282 !default;
$gray-4b: #4b4b4b !default;
$gray-1e: #1e1e1e !default;
$gray-05: #050505 !default;
$gray-22: #222 !default;
$black:    #000 !default;

$gray-700: #1e1e1e !default;  // for navbar compatibility

$blue:    #226799 !default;
$indigo:  #4142CE !default;
$purple:  #6635D2 !default;
$pink:    #D33E36 !default;
$red:     #D33E36 !default;
$orange:  #E57E39 !default;
$yellow:  #E5D439 !default;
$green:   #35D250 !default;
$teal:    #36D38C !default;
$cyan:    #359DD2 !default;

$primary:       $blue !default;
$secondary:     $gray-4b !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-e6 !default;
$dark:          $gray-1e !default;

$min-contrast-ratio:   2.05 !default;

// Links

$link-color:                $gray-4b !default;

// Fonts

// stylelint-disable-next-line value-keyword-case
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

$font-family-sans-serif:      Montserrat !default;
$h1-font-size:                3rem !default;
$h1-font-weight:              600;
$h2-font-size:                2.5rem !default;
$h2-font-weight:              500;
$h3-font-size:                2rem !default;
$hint-font-size:              0.8em;
$hint-font-weight:            300;
$body-font-weight:            400;

// Tables

$table-bg-scale:              0 !default;

// Dropdowns

$dropdown-link-color:               $gray-1e !default;
$dropdown-link-hover-color:         $white !default;
$dropdown-link-hover-bg:            $primary !default;

// Navs

$nav-link-padding-y:                .5rem !default !default;
$nav-link-padding-x:                2rem !default;
$nav-link-disabled-color:           $gray-4b !default !default;
$nav-tabs-border-color:             $gray-e6 !default;

// Navbar

$navbar-padding-y:                  1rem !default;
$navbar-light-bg:                   $primary !default;
$navbar-light-color:                $white !default;
$navbar-light-hover-color:          $success !default;
$navbar-light-active-color:         $success !default;
$navbar-light-brand-color:          $white !default;
$navbar-light-brand-hover-color:    $navbar-light-brand-color !default;


$navbar-dark-color:                 $white !default;
$navbar-dark-hover-color:           $primary !default;
$navbar-dark-active-color:          $primary !default;

$navbar-dark-brand-color:                 $white !default;
$navbar-dark-brand-hover-color:           $navbar-dark-brand-color !default;

// Pagination

$pagination-color:                  $white !default;
$pagination-bg:                     $success !default;
$pagination-border-width:           0 !default;
$pagination-border-color:           transparent !default;
$pagination-hover-color:            $white !default;
$pagination-hover-bg:               darken($success, 15%) !default;
$pagination-hover-border-color:     transparent !default;
$pagination-active-bg:              $pagination-hover-bg !default;
$pagination-active-border-color:    transparent !default;
$pagination-disabled-color:         $gray-e6 !default;
$pagination-disabled-bg:            lighten($success, 15%) !default;
$pagination-disabled-border-color:  transparent !default;

// List group

$list-group-hover-bg:               $gray-e6 !default;
$list-group-disabled-bg:            $gray-e6 !default;

// Breadcrumbs

$breadcrumb-padding-y:              .375rem !default;
$breadcrumb-padding-x:              .75rem !default;
$breadcrumb-border-radius:          .25rem !default;

// Close

$btn-close-color:            $white !default;
$btn-close-opacity:          .4 !default;
$btn-close-hover-opacity:    1 !default;



/*-- scss:rules --*/


// Variables

// Headers

h1 {
  font-weight: $h1-font-weight;
}

h2 {
  font-weight: $h2-font-weight;
}

// Subtitle

p.subtitle.lead {
  font-weight: $h2-font-weight;
}

// Body

body {
  font-weight: $body-font-weight;
}

code {
  color: $gray-1e;
}

// Autochecks

.autocheck input {
  display: block;
}

.input-requirements {
  font-size: .9em;
  font-weight: 300;
}

.autocheck-input {
  padding: .2em;
  width: 100%;
  padding-inline: .5em;
  border: 1px solid $gray-05;
  border-radius: 5px;
  margin-bottom: 3%;
}

.autocheck-button {
  background-color: $gray-1e;
  color: $gray-f5;
  border: 1px solid $gray-05;
}

.autocheck-feedback {
  
}

// Navbar

.bg-primary {
  .navbar-nav .show > .nav-link,
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link:hover,
  .navbar-nav .nav-link:focus {
    color: $success !important;
  }
}

// Navs

.nav-tabs {
  .nav-link.active,
  .nav-link.active:focus,
  .nav-link.active:hover,
  .nav-item.open .nav-link,
  .nav-item.open .nav-link:focus,
  .nav-item.open .nav-link:hover {
    color: $primary;
  }
}

.pagination {
  a:hover {
    text-decoration: none;
  }
}

// Indicators

.badge {
  &.bg-light {
    color: $dark;
  }
}

.alert {
  border: none;
  color: $white;

  a,
  .alert-link {
    color: $white;
    text-decoration: underline;
  }

  @each $color, $value in $theme-colors {
    &-#{$color} {
      @if $enable-gradients {
        background: $value linear-gradient(180deg, mix($body-bg, $value, 15%), $value) repeat-x;
      } @else {
        background-color: $value;
      }
    }
  }

  &-light {
    &,
    a,
    .alert-link {
      color: $body-color;
    }
  }
}

// Containers

.modal,
.toast {
  .btn-close {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>");
  }
}

// Hints

.hints {
  background-color: $gray-f5;
  padding: 1% 3%;
  border-radius: 10px;
  font-size: $hint-font-size;
  color: $gray-1e;
}

.hints>summary {
  color: $gray-1e;
  padding-top: 1%;
  padding-bottom: 1%;
}

.hint {
  font-weight: $hint-font-weight;
  padding-left: 3%;
}

.hint>summary {
  font-weight: $h2-font-weight;
  color: $gray-1e;
}
