/*-- scss:defaults --*/

$lab-junior-path:       "pics/lab_junior.png" !default;
$lab-middle-path:   "pics/lab_middle.png" !default;
$lab-senior-path:       "pics/lab_senior.png" !default;
$lab-guru-path:       "pics/lab_guru.png" !default;


/*-- scss:rules --*/

.lab-chapter {
  height: 1em;
  margin: 0 0 1em 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.lab-junior {
  background-image: url($lab-junior-path);
}

.lab-middle {
  background-image: url($lab-middle-path);
}

.lab-senior {
  background-image: url($lab-senior-path);
}

.lab-guru {
  background-image: url($lab-guru-path);
}

