/*-- scss:defaults --*/

// Labels

$lab-question-path:   "pics/lab_question_dark.png" !default;
$lab-math-path:       "pics/lab_math_dark.png" !default;
$lab-code-path:       "pics/lab_code_dark.png" !default;
$lab-advice-path:       "pics/lab_advice_dark.png" !default;
$lab-important-path:       "pics/lab_important_dark.png" !default;


// Colors

$task-bg:       #1e1e1e !default;
$task-border:   #e6e6e6 !default;

/*-- scss:rules --*/

.task, .note {
  background-color: $task-bg;
  border: 1px solid $task-border;
  border-radius: 20px;
  padding: 1% 10px 2% 20px;
  margin: 2em 0 2em 0;
}

.task:before, .mote:before {
  background-size: 3em;
  background-repeat: no-repeat;
  position: relative;
  height: 3em;
  top: -1em;
  // z-index: 100000;
  display: block;
  content: "";
  padding: 0;
  margin: 0;
}

.question::before {
  background-image: url($lab-question-path);
}

.math::before {
  background-image: url($lab-math-path);
}

.code::before {
  background-image: url($lab-code-path);
}

.advice:before {
  background-image: url($lab-advice-path);
}

.important:before {
  background-image: url($lab-important-path);
}